@font-face {
    font-family: "NanumSquare";
    font-weight: normal;
    src: url("../fonts/NanumSquareOTFRegular.woff") format("woff");
  }
  @font-face {
    font-family: "NanumSquare";
    font-weight: bold;
    src: url("../fonts//NanumSquareOTFBold.woff") format("woff");
  }
  @font-face {
    font-family: "TTHoves-light";
    src: url("../fonts//TTHoves-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "TTHoves";
    font-weight: bold;
    src: url("../fonts/TTHoves-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "TTHoves";
    font-weight: 800;
    src: url("../fonts/TTHoves-DemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "NanumSquareRound";
    font-weight: normal;
    src: url("../fonts/NanumSquareRoundR.woff2") format("woff2");
  }
  @font-face {
    font-family: "NanumSquareRound";
    font-weight: bold;
    src: url("../fonts/NanumSquareRoundB.woff2") format("woff2");
  }